.shopAddWrapper {
  width: 100%;
}

.stepBox {
  margin-top: 25px;
  padding: 14px 20px;
  border-top: 1px solid #edefed;
}

.stepHead {
  margin: 0;
  padding: 0;
  font-size: 18px;
  margin-bottom: 16px;
}

.stepLine {
  margin-bottom: 16px;
}

.imgOrVideoBtns font {
  margin-right: 20px;
}

.imgOrVideoBtns input {
  position: relative;
  top: 1px;
  margin-right: 5px;
  outline: none;
}

.imgBox {
  width: 842px;
  height: 155px;
}

.thumbImg {
  width: 200px;
  height: 100%;
  margin-left: 14px;
  position: relative;
}

.thumbImg .deleteBtn {
  position: absolute;
  right: 7px;
  top: 7px;
  font-size: 14px;
  cursor: pointer;
  color: #6faaee;
}

.thumbImg .deleteBtn:hover {
  text-decoration: underline;
}

.thumbImg:first-child {
  margin-left: 0;
}

.videoBox {
  display: none;
}

.videoBox input {
  width: 482px;
  height: 35px;
  line-height: 35px;
  padding: 0;
  outline: none;
  background-color: #edefed;
  border: 1px solid #ddd;
  padding: 0 5px;
}

.videoBox .videoCover {
  margin-left: 5px;
  height: 155px;
}

.stepBox .inputName {
  width: 7em;
  display: inline-block;
  vertical-align: top;
  height: 35px;
  line-height: 35px;
}

.stepBox .inputValue {
  width: 480px;
  height: 35px;
  /*line-height: 35px;*/
  outline: none;
  background-color: #edefed;
  border: 1px solid #ddd;
  padding: 0 5px;
}

.stepBox textarea[name="description"], .stepBox textarea[name="notice"],
.stepBox textarea[name="coach_description"] {
  resize: none;
  height: 100px;
  padding: 0 5px;
}

.timeContainer {
  display: none;
}

.timeBox {
  display: inline-block;
}

.timeBox .inputValue {
  width: 308px;
}

.timeBox .deleteBtn {
  margin-left: 14px;
  cursor: pointer;
}

.addTimeBtn {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  padding: 0 14px;
  margin: 0;
  border: 1px solid #edefed;
  cursor: pointer;
  visibility: hidden;
}

.addTimeBtn:hover {
  border: 1px solid #6faaee;
}

.newStepLine .inputName {
  margin-right: 4px;
}

.newStepLine input {
  margin-right: 3px;
}

.submitBtn, .cancelBtn {
  width: 120px;
  height: 40px;
  line-height: 40px;
  border-radius: 10px;
  padding: 0;
}

.cancelBtn {
  background-color: white;
  color: #6faaee;
  border: 1px solid #6faaee;
  margin-left: 20px;
}

.cancelBtn:hover {
  color: #6faaee;
}

.coachImg {
  margin-left: 1em;
  height: 100px;
  width: 100px;
  float:right;
  margin-right: 276px;
}