.shopList {
  width: 100%;
  padding: 0;
  margin: 0;
}

.shopItem {
  width: 100%;
  display: block;
  padding: 0;
  margin: 0;
  background-color: #f5f5f5;
  padding-bottom: 2vw;
}

.shopItem:last-child {
  padding-bottom: 0;
}

.shopCover, .shopCover:hover, .shopCover:focus, .shopCover:active, .shopCover:visited {
  width: 100vw;
  height: 78vw;
  line-height: 78vw;
  color: white;
  display: block;
  font-size: 24px;
  text-decoration: none;
}

.allCoursesBtn, .allCoursesBtn:hover, .allCoursesBtn:focus, .allCoursesBtn:active, .allCoursesBtn:visited {
  display: block;
  position: relative;
  margin: 2vw;
  background-color: white;
  color: #f5a623;
  width: 96vw;
  height: 12.7vw;
  text-align: center;
  line-height: 12.7vw;
  font-size: 20px;
  text-decoration: none;
}

.allCoursesBtn .icon {
  position: absolute;
  right: 0;
  top: 2px;
  width: 4vw;
  margin: 3.34vw;
}

.courseList {
  padding: 0;
  margin: 2vw;
  margin-top: 0;
  list-style: none;
}

.courseItemWrapper {
  width: 31vw;
  margin-left: 1.5vw;
  background-color: white;
  padding: 1vw;
}

.courseItemWrapper:first-child {
  margin-left: 0;
}

.courseItem, .courseItem:hover, .courseItem:focus, .courseItem:active, .courseItem:visited {
  text-decoration: none;
  width: 100%;
  display: block;
}

.courseCover {
  width: 29vw;
  height: 29vw;
}

.courseName {
  width: 100%;
  color: #262626;
  text-align: center;
  font-size: 14px;
  margin: 14px 0 5px 0;
}

.courseTags {
  width: 100%;
  color: #898989;
  text-align: center;
  font-size: 12px;
  margin-bottom: 14px;
}

.noMoreShop {
  width: 100%;
  height: 78vw;
  line-height: 78vw;
  display: block;
  position: relative;
}

.noMoreShop .bg {
  width: 100%;
  height: 78vw;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(/static/exhibit/res/3.jpg);
}

.noMoreShop .mask {
  width: 100%;
  height: 78vw;
  line-height: 78vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  color: white;
  text-align: center;
  font-size: 24px;
}