.navWrapper {
  display: none;
}

.pageWrapper {
  padding-bottom: 0;
  text-align: center;
}

#shareMask {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  text-align: right;
  z-index: 1000;
}

#shareMask img {
  width: 70%;
  height: auto;
  margin-right: 2em;
  margin-top: -1em;
}

.title {
  width: 13em;
  text-align: center;
  margin: auto;
  font-size: 20px;
  margin-top: 2em;
  margin-bottom: 1em;
  padding-left: 1em;
}

.ruleBlock {
  padding: 1em;
}

.ruleBlock .hr {
  width: 30%;
  height: 0;
  border: 1px solid #e4e7f0;
  margin: 1em 0;
}

.ruleBlock .ruleTitle {
  width: 40%;
  height: 2em;
  line-height: 2em;
  color: #b2b2b2;
}

.ruleBlock .contentBox {
  text-align: left;
  padding: 1em 2em;
  color: #b2b2b2;
}

.inviteBtn, .inviteBtn:hover, .inviteBtn:active, .inviteBtn:focus, .inviteBtn:visited {
  font-size: 18px;
  background-color: #f5a623;
  color: white;
  height: 2.8em;
  line-height: 2.8em;
  padding: 0;
  width: 90%;
  margin: auto;
  border-radius: 1.4em;
  outline: none;
  margin-top: 1em;
  margin-bottom: 2em;
}

.logo {
  width: 90%;
  margin: 2em auto 0 auto;
}