body {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.numberInputPanel {
  width: 100%;
  padding: 0;
  background-color: #e4e4e4;
  position: absolute;
  bottom: 0;
}

.numberInputRow {
  width: 100%;
}

.numberInputBtn {
  width: 33.3%;
  padding-bottom: 20.65%;
  position: relative;
}

.numberInputRow {
  border-bottom: 1px solid #f2f2f2;
}

.numberInputRow:first-child {
  border-top: 1px solid #f2f2f2;
}

.numberInputBtn {
  border-right: 1px solid #f2f2f2;
}

.numberInputBtn:first-child {
  border-left: 1px solid #f2f2f2;
}

.numberInputText, .numberInputMask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 100%;
  text-align: center;
  font-size: 26px;
  padding: 22% 0;
  font-family: "Arial";
  color: #232323;
}

.numberInputBtn[value="del"] .numberInputText {
  padding: 15% 0;
  font-size: 36px;
  font-weight: 1000;
  color: #f5a623;
}

.numberInputMask {
  background-color: #d0d0d0;
  opacity: 0;
}