<div class="alertBoxContainer" id="alertBoxContainer">
  <div class="alertBoxWrapper">
    <div class="alertBox">
      <div class="alertTextWrapper vertical_outer">
        <div class="alertText vertical_inner">提示文字</div>
      </div>
      <div class="alertBtnBox">
        <button class="btn alertBtn">确定</button>
      </div>
      <div class="alertBtnBox">
        <button class='btn confirmBtn' value="false">取消</button>
        <button class='btn confirmBtn' value="true">确定</button>
      </div>
    </div>
  </div>
</div>