<div class="stepLine firstStepLine activeStepLine" value="0">
  <div class="leftTextBox left">
    <div class="amounts">
      好友购买数
    </div>
  </div>
  <div class="centerBox left">
    <div class="centerBoxTopBox"></div>
    <div class="centerBoxMidBox">
      <div class="outCircle">
        <div class="inCircle"></div>
        <div class="vLineInner"></div>
      </div>
    </div>
    <div class="centerBoxBottomBox">
      <div class="vLineOuter"><div class="vLineInner"></div></div>
    </div>
  </div>
  <div class="rightTextBox left">
    <div class="rightTextLine textEllipsis">获得的礼物</div>
    <div class="rightTextLine textEllipsis">说明</div>
  </div>
  <div class="clear"></div>
</div>
<div class="stepLine noUseStepLine" value="5">
  <div class="leftTextBox left">
    <div class="amounts">
      5个
    </div></div>
  <div class="centerBox left">
    <div class="centerBoxTopBox">
      <div class="vLineOuter"><div class="vLineInner"></div></div>
    </div>
    <div class="centerBoxMidBox">
      <div class="outCircle">
        <div class="vLineInner"></div>
        <div class="inCircle"></div>
        <div class="vLineInner"></div>
      </div>
    </div>
    <div class="centerBoxBottomBox">
      <div class="vLineOuter"><div class="vLineInner"></div></div>
    </div>
  </div>
  <div class="rightTextBox left">
    <div class="rightTextLine textEllipsis">50元抵扣券</div>
    <div class="rightTextLine textEllipsis"></div>
  </div>
  <div class="clear"></div>
</div>
<div class="stepLine noUseStepLine" value="7">
  <div class="leftTextBox left">
    <div class="amounts">
      7个
    </div></div>
  <div class="centerBox left">
    <div class="centerBoxTopBox">
      <div class="vLineOuter"><div class="vLineInner"></div></div>
    </div>
    <div class="centerBoxMidBox">
      <div class="outCircle">
        <div class="vLineInner"></div>
        <div class="inCircle"></div>
        <div class="vLineInner"></div>
      </div>
    </div>
    <div class="centerBoxBottomBox">
      <div class="vLineOuter"><div class="vLineInner"></div></div>
    </div>
  </div>
  <div class="rightTextBox left">
    <div class="rightTextLine textEllipsis">70元抵扣券</div>
    <div class="rightTextLine textEllipsis"></div>
  </div>
  <div class="clear"></div>
</div>
<div class="stepLine noUseStepLine" value="9">
  <div class="leftTextBox left">
    <div class="amounts">
      9个
    </div></div>
  <div class="centerBox left">
    <div class="centerBoxTopBox">
      <div class="vLineOuter"><div class="vLineInner"></div></div>
    </div>
    <div class="centerBoxMidBox">
      <div class="outCircle">
        <div class="vLineInner"></div>
        <div class="inCircle"></div>
        <div class="vLineInner"></div>
      </div>
    </div>
    <div class="centerBoxBottomBox">
      <div class="vLineOuter"><div class="vLineInner"></div></div>
    </div>
  </div>
  <div class="rightTextBox left">
    <div class="rightTextLine textEllipsis">90元抵扣券</div>
    <div class="rightTextLine textEllipsis"></div>
  </div>
  <div class="clear"></div>
</div>
<div class="stepLine noUseStepLine" value="11">
  <div class="leftTextBox left">
    <div class="amounts">
      11个
    </div></div>
  <div class="centerBox left">
    <div class="centerBoxTopBox">
      <div class="vLineOuter"><div class="vLineInner"></div></div>
    </div>
    <div class="centerBoxMidBox">
      <div class="outCircle">
        <div class="vLineInner"></div>
        <div class="inCircle"></div>
        <div class="vLineInner"></div>
      </div>
    </div>
    <div class="centerBoxBottomBox">
      <div class="vLineOuter"><div class="vLineInner"></div></div>
    </div>
  </div>
  <div class="rightTextBox left">
    <div class="rightTextLine textEllipsis">110元抵扣券</div>
    <div class="rightTextLine textEllipsis"></div>
  </div>
  <div class="clear"></div>
</div>
<div class="stepLine noUseStepLine" value="20">
  <div class="leftTextBox left">
    <div class="amounts">
      20个
    </div></div>
  <div class="centerBox left">
    <div class="centerBoxTopBox">
      <div class="vLineOuter"><div class="vLineInner"></div></div>
    </div>
    <div class="centerBoxMidBox">
      <div class="outCircle">
        <div class="vLineInner"></div>
        <div class="inCircle"></div>
        <div class="vLineInner"></div>
      </div>
    </div>
    <div class="centerBoxBottomBox">
      <div class="vLineOuter"><div class="vLineInner"></div></div>
    </div>
  </div>
  <div class="rightTextBox left">
    <div class="rightTextLine textEllipsis">200元抵扣券</div>
    <div class="rightTextLine textEllipsis"></div>
  </div>
  <div class="clear"></div>
</div>
<div class="stepLine finalStepLine noUseStepLine" value="30">
  <div class="leftTextBox left">
    <div class="amounts">
      30个
    </div></div>
  <div class="centerBox left">
    <div class="centerBoxTopBox">
      <div class="vLineOuter"><div class="vLineInner"></div></div>
    </div>
    <div class="centerBoxMidBox">
      <div class="outCircle">
        <div class="vLineInner"></div>
        <div class="inCircle"></div>
        <div class="vLineInner"></div>
      </div>
    </div>
    <div class="centerBoxBottomBox">
      <div class="vLineOuter"><div class="vLineInner"></div></div>
    </div>
  </div>
  <div class="rightTextBox left">
    <div class="rightTextLine textEllipsis">300元抵扣券</div>
    <div class="rightTextLine textEllipsis"></div>
  </div>
  <div class="clear"></div>
</div>