<div class="numberInputPanel">
  <div class="numberInputRow">
    <div class="numberInputBtn left" value="1"><div class="numberInputText">1</div></div>
    <div class="numberInputBtn left" value="2"><div class="numberInputText">2</div></div>
    <div class="numberInputBtn left" value="3"><div class="numberInputText">3</div></div>
    <div class="clear"></div>
  </div>
  <div class="numberInputRow">
    <div class="numberInputBtn left" value="4"><div class="numberInputText">4</div></div>
    <div class="numberInputBtn left" value="5"><div class="numberInputText">5</div></div>
    <div class="numberInputBtn left" value="6"><div class="numberInputText">6</div></div>
    <div class="clear"></div>
  </div>
  <div class="numberInputRow">
    <div class="numberInputBtn left" value="7"><div class="numberInputText">7</div></div>
    <div class="numberInputBtn left" value="8"><div class="numberInputText">8</div></div>
    <div class="numberInputBtn left" value="9"><div class="numberInputText">9</div></div>
    <div class="clear"></div>
  </div>
  <div class="numberInputRow">
    <div class="numberInputBtn left" value="commit"><div class="numberInputText">确定</div></div>
    <div class="numberInputBtn left" value="0"><div class="numberInputText">0</div></div>
    <div class="numberInputBtn left" value="del"><div class="numberInputText">删除</div></div>
    <div class="clear"></div>
  </div>
</div>