.shopDetailPage {
  width: 100%;
  background-color: white;
}

.navWrapper {
  display: none;
}

.block {
  margin: 20px;
  margin-bottom: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #e4e4e4;
}

.line {
  margin: 20px;
}

.infoLine {
  font-size: 20px;
  height: 40px;
  line-height: 40px;
}

.line .logo {
  margin-right: 14px;
  color: #b2b2b2;
  /*top: 2px;*/
  font-size: 28px;
}

.infoLine .logo {
  margin-top: 4px;
}

.line .btn, .line .btn:active, .line .btn:visited, .line .btn:focus {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #f5a623;
  border-radius: 20px;
  padding: 0;
  top: 0;
  color: #f5a623 !important;
  font-size: 20px;
}

.line .phone {
  margin-right: 10px;
}

.descBlock, .noticeBlock {
  min-height: 150px;
}

.descBlock h1, .noticeBlock h1 {
  font-size: 18px;
}

.locationBox {
  width: 80%;
}

.featureBlock {
  padding: 0 10px 20px 10px;
}

.featureTable {
  width: 100%;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}

.featureTable .td {
  width: 50%;
  padding: 1.2em 0.5em 1.1em 0.5em;
}

.featureTable .td img {
  height: 20px;
  width: auto;
  margin: 0 5px;
}

.featureTable .tr:first-child .td:first-child {
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}

.featureTable .tr:first-child .td:nth-child(2) {
  border-bottom: 1px solid #e4e4e4;
}

.featureTable .tr:last-child .td:first-child {
  border-right: 1px solid #e4e4e4;
}

.courseBlock h1 {
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.courseBox {
  position: relative;
  margin-bottom: 14px;
  height: 30vw;
  display: block;
}

.courseBox, .courseBox:hover, .courseBox:active, .courseBox:focus, .courseBox:visited {
  text-decoration: none;
}

.courseWrapper {
  margin-top: 24px;
}

.courseCover {
  position: absolute;
  left: 0;
  top: 0;
  background-image: url('/static/exhibit/res/1.jpg');
  width: 30vw;
  height: 30vw;
}

.courseDesc {
  font-size: 14px;
  margin-left: 30vw;
  padding: 14px 28px;
}

.courseTags {
  color: #dbdbdb;
}

.courseBookableTime {
  color: #f5a623;
}

.bookBtn {
  position: fixed;
  bottom: 10px;
  width: 90% !important;
  margin: 0 5%;
  color: white !important;
  background-color: #f5a623 !important;
  border: 1px solid #f5a623 !important;
  border-radius: 21px !important;
  text-shadow: none;
  font-weight: 200;
  outline: none;
  z-index: 100;
  height: 42px;
  font-size: 18px;
}

.featureIcon {
  height: 55%;
  width: auto;
  position: relative;
  top: -2px;
}

#viewport {
  position: relative;
  width: 100vw;
  height: 78vw;
  overflow: hidden;
}

#wrapper {
  width: 100%;
  height: 100%;
  background-color: #d8d8d8;
}

#scroller {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  width: 300vw;
  height: 100%;
  white-space: nowrap;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}

.slide {
  width: 100vw;
  height: 100%;
  float: left;
}

.painting {
  width: 100%;
  height: 100%;
}

#carouselBox {
  position: relative;
}

#indicatorBox {
  position: absolute;
  bottom: 1em;
  right: 1em;
  z-index: 2;
}

#indicator {
  position: relative;
  width: 56px;
  height: 14px;
  margin: 7px auto;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUBAMAAABohZD3AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUGCDYztyDUJgAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAAGFBMVEUAAADNzc3Nzc3Nzc3Nzc3Nzc3Nzc3///8aWwwLAAAABnRSTlMAX5Ks3/nRD0HIAAAAAWJLR0QHFmGI6wAAAFtJREFUGFdjYGBgEHYNMWRAAJE0IHCEc5nSwEABxleD8JOgXMY0KBCA8FlgfAcIXwzGT4TwzWD8ZAjfDcZPgfDDYPxU7Hx09ejmoduH7h5096L7B8O/6OGBGl4APYg8TQ0XAScAAAAASUVORK5CYII=);
  background-size: auto 14px;
}

#dotty {
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: #777;
}

.video {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.videoBox {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}

.playVideoBtn {
  position: absolute;
  left: 3vw;
  top: 64vw;
  font-size: 10vw;
  color: rgba(255, 255, 255, 0.8);
  z-index: 2;
}