{% extends 'exhibit/widgets/base.html' %}

{% block style %}
<link type="text/css" rel="stylesheet" href="/static/exhibit/css/home.css">
{% endblock %}

{% block page %}
<div class="homePageWrapper">
  {% for shop in shops %}
  <div class="shopWrapper">
    <div class="coverWrapper vertical_outer thumbImg myLink" href="/shop?action=detail&sid={{ shop.id }}" style="background-image: {{ shop.cover.0 }}">
      <div class="coverBox vertical_inner">
        <h1 class="shopName">热门场地 {{ shop.name }}</h1>
        {% ifequal forloop.counter 1 %}
        <a class="btn btn-default showAllshopBtn" href="/shop?action=list">查看所有</a>
        {% endifequal %}
      </div>
      <div class="triangle"></div>
    </div>
    <div class="courseWrapper">
      <div class="courseContainer">
        <ul>
        {% for course in shop.courses %}
        <li>
          <a class="courseBox" href="/course?action=detail&cid={{ course.id }}">
            <div class="courseCover thumbImg" style="background-image: {{ course.cover.0 }}"></div>
            <div class="courseName">{{ course.name }}</div>
            <div class="courseTag">{{ course.tags }}</div>
          </a>
        </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% endfor %}
  {% ifequal shopSize 2 %}
  {% else %}
  <div class="shopWrapper">
    <div class="coverWrapper vertical_outer thumbImg">
      <div class="coverBox vertical_inner disabled">
        <h1 class="shopName">Coming Soon</h1>
      </div>
    </div>
  </div>
  {% endifequal %}
</div>
{% endblock %}

{% block script %}
{% endblock %}