{% extends 'exhibit/widgets/base.html' %}

{% block style %}
<link type="text/css" rel="stylesheet" href="/static/exhibit/css/order_get.css">
{% endblock %}

{% block page %}
<div class="blockWrapper">
<div class="block">
  <div class="line titleLine">
    <h1 class="blockTitle">宝安中心店</h1>
  </div>
  <div class="line">
    <div class="name left">时间:</div>
    <div class="value right">06月04日 13:00-15:30</div>
    <div class="clear"></div>
  </div>
  <div class="line">
    <div class="name left">地址:</div>
    <div class="value right">xxxxxx</div>
    <div class="clear"></div>
  </div>
  <div class="line">
    <div class="name left">预约人数:</div>
    <div class="value right">2人</div>
    <div class="clear"></div>
  </div>
  <div class="line">
    <div class="name left">入场密码:</div>
    <div class="value right">123456</div>
    <div class="clear"></div>
  </div>
  <div class="line">
    <div class="name left">验票码:</div>
    <div class="value right"><img class="qrcode" src="" /></div>
    <div class="clear"></div>
  </div>
  <div class="line">
    <div class="name left"></div>
    <div class="value right">请出示二维码给工作人员验票</div>
    <div class="clear"></div>
  </div>
</div>
</div>
{% endblock %}

{% block script %}
{% endblock %}