{% extends 'exhibit/widgets/base.html' %}

{% block style %}
<link type="text/css" rel="stylesheet" href="/static/exhibit/css/order_get.css">
{% endblock %}

{% block page %}
<div class="cover thumbImg" style="background-image: {{ order.cover }}"></div>
<div class="line">
  {% ifequal order.order_type '1' %}
  <div class="lineName left">场地:</div>
  <div class="lineValue right">{{ order.shop.name }}</div>
  {% else %}
  <div class="lineName left">课程:</div>
  <div class="lineValue right">{{ order.course.name }}</div>
  {% endifequal %}
  <div class="clear"></div>
</div>
<div class="line">
  <div class="lineName left">时间:</div>
  <div class="lineValue right" id="startTimeBox">
    {{ order.start_time | date:"D, "}}{{ order.start_time | date:"d " }}{{ order.start_time | date:"b Y, H:i" | capfirst }}~{{ order.end_time | date:"H:i"}}
  </div>
  <div class="clear"></div>
</div>
<div class="line radioLine">
  <div class="lineName left">人数:</div>
  <div class="lineValue right">
    <div class="radio checked" name="amount">
      {% ifequal order.order_type "1" %}
        {% ifequal order.shop.capacity order.people_amount %}
        包场
        {% else %}
        {{ order.people_amount }}
        {% endifequal %}
      {% else %}
        {% ifequal order.course.capacity order.people_amount %}
        包场
        {% else %}
        {{ order.people_amount }}
        {% endifequal %}
      {% endifequal %}
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="line">
  <div class="lineName left">地址:</div>
  <div class="lineValue right">
    {% ifequal order.order_type "1" %}
    {{ order.shop.location }}
    {% else %}
    {{ order.course.shop.location }}
    {% endifequal %}
  </div>
  <div class="clear"></div>
</div>
<div class="line hintLine">
  <div class="name left">增值服务</div>
  <div class="hint left">可选</div>
  <div class="clear"></div>
</div>
<div class="line serviceLine" price="500" value="food">
  <div class="name left">健身餐</div>
  <div class="price left">￥50.00</div>
  <div class="checkBox right"></div>
  <div class="clear"></div>
</div>
<div class="line serviceLine" price="1000" value="coach">
  <div class="name left">私教</div>
  <div class="price left">￥100.00</div>
  <div class="checkBox right"></div>
  <div class="clear"></div>
</div>
<div class="line hintLine">
  <div class="name left">温馨提示</div>
  <div class="hint left"></div>
  <div class="clear"></div>
</div>
<div class="line">
  <ol class="block">
    <li>开始时间前4个小时取消预约，支持全额退款，开始时间前6个小时后取消预约，不能退款</li>
    <li>请自备毛巾</li>
    <li>新用户五折优惠，第二次预约时邀请优惠才生效</li>
  </ol>
  <div class="featureTable">
    <div class="tr">
      <div class="td left"><img src="/static/exhibit/icon/wifi-icon.png" class="featureIcon">免费Wi-Fi</div>
      <div class="td left"><img src="/static/exhibit/icon/flag-icon.png" class="featureIcon">停车位有限</div>
      <div class="clear"></div>
    </div>
    <div class="tr">
      <div class="td left"><img src="/static/exhibit/icon/water-icon.png" class="featureIcon">饮用水</div>
      <div class="td left"><img src="/static/exhibit/icon/cabinet-icon.png" class="featureIcon">储物柜有限</div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="priceLine">
  <div class="right priceBox">
    <font class="originPrice"></font>
    <font class="discountPrice"></font>
  </div>
  <div class="right priceTitle">总价:</div>
  <div class="clear"></div>
</div>
<div class="btn payBtn" id="payBtn">确认订单，微信支付</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/exhibit/js/order_pre.js"></script>
{% endblock %}