{% extends 'exhibit/widgets/base.html' %}

{% block style %}
<link type="text/css" rel="stylesheet" href="/static/exhibit/css/order_password.css">
{% endblock %}

{% block page %}
<div class="blockWrapper">
<div class="block">
  {% if order %}
  <div class="line titleLine">
    <h1 class="blockTitle">{{ order.shop.name }}</h1>
  </div>
  <div class="line">
    <div class="name left">时间:</div>
    <div class="value right">{{ order.start_time | date:"m月d日 H:i" }}-{{ order.end_time | date:"H:i" }}</div>
    <div class="clear"></div>
  </div>
  <div class="line">
    <div class="name left">地址:</div>
    <div class="value right">{{ order.shop.location }}</div>
    <div class="clear"></div>
  </div>
  <div class="line">
    <div class="name left">预约人数:</div>
    <div class="value right">{{ order.people_amount }}人</div>
    <div class="clear"></div>
  </div>
  <div class="line">
    <div class="name left">入场密码:</div>
    <div class="value right">{{ order.shop.password }}</div>
    <div class="clear"></div>
  </div>
  <div class="line">
    <div class="name left">验票码:</div>
    <div class="value right"><img class="qrcode" src="{{ qrcode }}" /></div>
    <div class="clear"></div>
  </div>
  <div class="line">
    <div class="name left"></div>
    <div class="value right">请出示二维码给工作人员验票</div>
    <div class="clear"></div>
  </div>
  {% else %}
  <div class="line titleLine">
    <h1 class="blockTitle">获取密码失败</h1>
  </div>
  <div class="line titleLine">
    <h1 class="blockTitle" style="font-size: 16px;">请在预约时间开始前一小时内重新获取密码</h1>
    <h1 class="blockTitle" style="font-size: 16px;">更多问题,请咨询我们的工作人员</h1>
  </div>
  {% endif %}
</div>
</div>
{% endblock %}

{% block script %}
{% endblock %}