{% extends 'exhibit/widgets/base.html' %}

{% block style %}
<link type="text/css" rel="stylesheet" href="/static/common/css/mobiSelect.css">
<link type="text/css" rel="stylesheet" href="/static/exhibit/css/shop_detail.css">
{% endblock %}

{% block page %}
<div class="shopDetailPage" invalideTimes="{{ shop.invalide_times }}">
<button class="bookBtn" id="bookBtn">立即预约</button>

<div id="viewport">
  {% ifequal shop.cover_type "image" %}
  <div id="wrapper">
    <div id="scroller">
      {% for cover in shop.cover %}
      <div class="slide">
        <div class="painting thumbImg" style="background-image: {{ cover }}"></div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div id="indicatorBox">
    <div id="indicator">
      <div id="dotty"></div>
    </div>
  </div>
  {% else %}
  <div class="videoBox thumbImg" style="background-image: {{ shop.cover.0 }}">
    <span class="playVideoBtn glyphicon glyphicon-play-circle"></span>
    <video class="video" src="{{ shop.cover.1 }}" preload="auto" controls></video>
  </div>
  {% endifequal %}
</div>

<div class="block descBlock">
  <h1>场地介绍</h1>
  <p>{{ shop.description | safe }}</p>
</div>
<div class="line infoLine">
  <div class="left logo"><img src="/static/exhibit/icon/duration.svg" /></div>
  <div class="left">全日24小时</div>
  <span class="right btn location" shopName="{{ shop.name }}"><img src="/static/exhibit/icon/circle_location.svg" /></span>
  <a class="right btn phone" href="tel:{{ shop.phone }}"><img src="/static/exhibit/icon/circle_phone.svg" /></a>
  <div class="clear"></div>
</div>
<div class="line priceLine">
  <div class="left logo"><img src="/static/exhibit/icon/price.svg" /></div>
  <div class="left priceBox">￥{{ shop.price }}&#47;时</div>
  <div class="clear"></div>
</div>
<div class="line locationLine">
  <div class="left logo"><img src="/static/exhibit/icon/location.svg" /></div>
  <div class="left locationBox">{{ shop.location }}</div>
  <div class="clear"></div>
</div>
<div class="block featureBlock">
  <div class="featureTable">
    <div class="tr">
      <div class="td left"><img src="/static/exhibit/icon/wifi-icon.png" class="featureIcon">免费Wi-Fi</div>
      <div class="td left"><img src="/static/exhibit/icon/flag-icon.png" class="featureIcon">停车位有限</div>
      <div class="clear"></div>
    </div>
    <div class="tr">
      <div class="td left"><img src="/static/exhibit/icon/water-icon.png" class="featureIcon">饮用水</div>
      <div class="td left"><img src="/static/exhibit/icon/cabinet-icon.png" class="featureIcon">储物柜有限</div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="block noticeBlock">
  <h1>注意事项</h1>
  <p>{{ shop.notice | safe }}</p>
</div>
<div class="block courseBlock">
  <h1>团体课</h1>
  <div class="courseWrapper">
    {% for course in shop.courses %}
    <a class="courseBox" href="/course?action=detail&cid={{ course.id }}">
      <div class="courseCover thumbImg" style="background-image: {{ course.cover.0 }}"></div>
      <div class="courseDesc">
        <div class="courseName textEllipsis">{{ course.name }}</div>
        <div class="courseTags textEllipsis">{{ course.tags }}</div>
        <div class="courseBookableTime textEllipsis">{{ course.bookable_time.start_time | date:"Y-m-d H:i" }}</div>
        <div class="courseBookableTime textEllipsis">{{ course.bookable_time.end_time | date:"Y-m-d H:i" }}</div>
        <div class="price textEllipsis">￥{{ course.price }}</div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/plugin/iscroll/iscroll-probe.js"></script>
<script type="text/javascript" src="/static/common/js/mobiSelect.js"></script>
<script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp"></script>
<script type="text/javascript" src="/static/exhibit/js/shop_detail.js"></script>
{% endblock %}