{% extends 'exhibit/widgets/base.html' %}

{% block style %}
<link type="text/css" rel="stylesheet" href="/static/common/css/numberInput.css">
<link type="text/css" rel="stylesheet" href="/static/exhibit/css/user_verifyCode.css">
{% endblock %}

{% block page %}
<h1>输入验证码</h1>
<div class="codeWrapper">
  <div class="codeBox"><div class="code"></div></div>
  <div class="codeBox"><div class="code"></div></div>
  <div class="codeBox"><div class="code"></div></div>
  <div class="codeBox"><div class="code"></div></div>
</div>
<a href="/user?action=verify&type=code">无法收到验证码，重新获取</a>
{% include "exhibit/widgets/numberInput.html" %}
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/common/js/numberInput.js"></script>
<script type="text/javascript" src="/static/exhibit/js/user_verifyCode.js"></script>
{% endblock %}