{% extends "admin/widgets/table.html" %}

{% block mainOptions %}
<a href="/admin/coupon?action=list" class="btn mainOptionBtn active">邀请码</a>
{% endblock %}

{% block selections %}
<div class="filterBox" filter-name="gender">
  <font class="filterName">Gender</font>
  <select class="filterValue">
    <option value="all">All</option>
    <option value="male">Male</option>
    <option value="female">Female</option>
  </select>
</div>
<div class="filterBox" filter-name="role">
  <font class="filterName">Role</font>
  <select class="filterValue">
    <option value="all">All</option>
    <option value="student">Student</option>
    <option value="staff">Staff</option>
  </select>
</div>
{% endblock %}

{% block table %}
<thead>
  <tr>
    <td>绑定日期</td>
    <td>昵称</td>
    <td>性别</td>
    <td>角色</td>
    <td>手机号码</td>
    <td>剩余优惠券数</td>
  </tr>
</thead>
<tbody>
  {% for member in members %}
  <tr>
    <td>{{ member.bind_date | date:"Y-m-d" }}</td>
    <td>{{ member.nickname }}</td>
    <td>{% ifequal member.gender "f" %}女性{% else %}男性{% endifequal %}</td>
    <td>{% ifequal member.role "1" %}学生{% else %}在职{% endifequal %}</td>
    <td>{{ member.phone }}</td>
    <td>{{ member.balance }}</td>
  </tr>
  {% endfor %}
</tbody>
{% endblock %}