{% extends "admin/widgets/table.html" %}

{% block mainOptions %}
<a href="/admin/password?action=list" class="btn mainOptionBtn active">确认码查询</a>
{% endblock %}

{% block selections %}
<div class="filterBox" filter-name="type">
  <font class="filterName">Type</font>
  <select class="filterValue">
    <option value="all">All</option>
    <option value="site">Site</option>
    <option value="course">Course</option>
  </select>
</div>
{% endblock %}

{% block table %}
<thead>
  <tr>
    <td>日期</td>
    <td>类型</td>
    <td>用户昵称</td>
    <td>确认码</td>
    <td>有效时间</td>
    <td>金额</td>
  </tr>
</thead>
<tbody>
  {% for password in passwords %}
  <tr>
    <td>{{ password.order.create_time | date:"Y-m-d" }}</td>
    <td>{% ifequal password.order.order_type "1" %}场地{% else %}团体课{% endifequal %}</td>
    <td>{{ password.order.user.nickname }}</td>
    <td>{{ password.content }}</td>
    <td>{{ password.start_time | date:"Y-m-d H:i:s" }} - {{ password.end_time | date:"Y-m-d H:i:s" }}</td>
    <td>{{ password.order.price }}</td>
  </tr>
  {% endfor %}
</tbody>
{% endblock %}